<div class="container-fluid">
    <div class="row">
        <div *ngIf="!forumService.isOpenForum" class="col-xl-12 col-lg-12 col-md-12 pl-0">
            <div class="tabs">
                <div class="content">
                    <ul class="nav nav-tabs">
                        <li>
                            <a class="active" data-toggle="tab" href="#forums">FORUMS</a>
                        </li>
                        <li>
                            <a data-toggle="tab" class="" href="#activity">ACTIVITY</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="custom_sidebar col-xs-12 col-sm-12 col-md-3 col-lg-3 tab " id="activity" style="padding:0px;">
            <app-forum-sidebar></app-forum-sidebar>
        </div>
        <div class="custom_sidebar col-xs-12 col-sm-12 col-md-9 col-lg-9 tab active show" id="forums" style="padding:0px;">
            <app-forum-content *ngIf="!forumService.isOpenForum" ></app-forum-content>
            <app-forum-open *ngIf="forumService.isOpenForum" [data]="forumService.SetdataForum"></app-forum-open>
            
        </div>
    </div>
    <!-- <div *ngIf="!forumService.isOpenForum" class="row create-post">
        <span class="create-post-text">
        <i class="fa fa-plus mright-5"></i>
        Create a post
    </span>
    </div> -->
</div>